<div class="row">

  <div class="span6">

    <div class="widget stacked">

      <div class="widget-header">
        <i class="icon-star"></i>

        <h3>Hotel Sheltown</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">

        <div id="chart-stats" class="stats">
          <div class="stat stat-time">
            <span class="stat-value">Key Performance Indicators</span>
            Valores promedio del mes <%= Time.now.strftime('%B %Y') %>
          </div>
          <!-- /substat -->
        </div>
        <!-- /substats -->

        <div class="stats">
          <div class="stat">
            <span class="stat-value"><%= @resort_stats[Resort::SHELTOWN_CODE].average_occupancy %>%</span>
            Ocupación
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ <%= @resort_stats[Resort::SHELTOWN_CODE].average_daily_average_rate %></span>
            Average Daily Rate
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ <%= @resort_stats[Resort::SHELTOWN_CODE].average_revenue_per_available_room %></span>
            Revenue PAR
          </div>
          <!-- /stat -->

        </div>
        <!-- /stats -->
        <div><a href="<%=reports_path(:sheltown)%>">Ver reportes</a></div>
      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->

    <div class="widget stacked">

      <div class="widget-header">
        <i class="icon-star"></i>

        <h3>Hotel Impala</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">

        <div id="chart-stats" class="stats">
          <div class="stat stat-time">
            <span class="stat-value">Key Performance Indicators</span>
            Valores promedio del mes <%= Time.now.strftime('%B %Y') %>
          </div>
          <!-- /substat -->
        </div>
        <!-- /substats -->

        <div class="stats">
          <div class="stat">
            <span class="stat-value"><%= @resort_stats[Resort::IMPALA_CODE].average_occupancy %>%</span>
            Ocupación
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ <%= @resort_stats[Resort::IMPALA_CODE].average_daily_average_rate %></span>
            Average Daily Rate
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ <%= @resort_stats[Resort::IMPALA_CODE].average_revenue_per_available_room %></span>
            Revenue PAR
          </div>
          <!-- /stat -->

        </div>
        <!-- /stats -->
        <div><a href="<%=reports_path(:impala)%>">Ver reportes</a></div>
      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->

  </div>
  <!-- /span6 -->

  <div class="span6">
    <div class="widget stacked">

      <div class="widget-header">
        <i class="icon-star"></i>

        <h3>Embajador Hotel</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">

        <div id="chart-stats" class="stats">
          <div class="stat stat-time">
            <span class="stat-value">Key Performance Indicators</span>
            Valores promedio del mes <%= Time.now.strftime('%B %Y') %>
          </div>
          <!-- /substat -->
        </div>
        <!-- /substats -->

        <div class="stats">
          <div class="stat">
            <span class="stat-value"><%= @resort_stats[Resort::EMBAJADOR_CODE].average_occupancy %>%</span>
            Ocupación
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ <%= @resort_stats[Resort::EMBAJADOR_CODE].average_daily_average_rate %></span>
            Average Daily Rate
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ <%= @resort_stats[Resort::EMBAJADOR_CODE].average_revenue_per_available_room %></span>
            Revenue PAR
          </div>
          <!-- /stat -->

        </div>
        <!-- /stats -->
        <div><a href="<%=reports_path(:embajador)%>">Ver reportes</a></div>
      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->

  </div>
  <!-- /span6 -->
</div>