<div class="row">

  <div class="span6">

    <div class="widget stacked">

      <div class="widget-header">
        <i class="icon-star"></i>

        <h3>Hotel Sheltown</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">

        <div id="chart-stats" class="stats">
          <div class="stat stat-time">
            <span class="stat-value">Key Performance Indicators</span>
            al <%= Date.today %>
          </div>
          <!-- /substat -->
        </div>
        <!-- /substats -->

        <div class="stats">
          <div class="stat">
            <span class="stat-value">80%</span>
            Ocupación
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ 61.09</span>
            Average Daily Rate
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ 59.44</span>
            Revenue PAR
          </div>
          <!-- /stat -->

        </div>
        <!-- /stats -->
        <div><a href="<%=reports_path(:sheltown)%>">Ver reportes</a></div>
      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->

    <div class="widget stacked">

      <div class="widget-header">
        <i class="icon-star"></i>

        <h3>Hotel Impala</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">

        <div id="chart-stats" class="stats">
          <div class="stat stat-time">
            <span class="stat-value">Key Performance Indicators</span>
            al <%= Date.today %>
          </div>
          <!-- /substat -->
        </div>
        <!-- /substats -->

        <div class="stats">
          <div class="stat">
            <span class="stat-value">54%</span>
            Ocupación
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ 52.10</span>
            Average Daily Rate
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ 30.11</span>
            Revenue PAR
          </div>
          <!-- /stat -->

        </div>
        <!-- /stats -->
        <div><a href="<%=reports_path(:impala)%>">Ver reportes</a></div>
      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->

  </div>
  <!-- /span6 -->

  <div class="span6">
    <div class="widget stacked">

      <div class="widget-header">
        <i class="icon-star"></i>

        <h3>Embajador Hotel</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">

        <div id="chart-stats" class="stats">
          <div class="stat stat-time">
            <span class="stat-value">Key Performance Indicators</span>
            al <%= Date.today %>
          </div>
          <!-- /substat -->
        </div>
        <!-- /substats -->

        <div class="stats">
          <div class="stat">
            <span class="stat-value">76%</span>
            Ocupación
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ 43.35</span>
            Average Daily Rate
          </div>
          <!-- /stat -->

          <div class="stat">
            <span class="stat-value">$ 42.51</span>
            Revenue PAR
          </div>
          <!-- /stat -->

        </div>
        <!-- /stats -->
        <div><a href="<%=reports_path(:embajador)%>">Ver reportes</a></div>
      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->

  </div>
  <!-- /span6 -->
</div>