<%= javascript_include_tag "reports", "data-turbolinks-track" => true %>

<h1><%= params[:hotel].titleize %></h1>

<%= render :partial => 'filter' %>

<%= render :partial => 'chart' %>
<hr/>

<%= render :partial => 'pickup_table' %>